@charset "ISO-8859-1";

#searchoptions{
	display: flex;
}

.showroom{
	display: flex;
	margin: 6%;	
	flex-wrap: wrap;
	width: fit-content;
}

.product-card{
	margin: 5%;
}

.cart{
	font-size: 50px;
}

.pcard{
	margin: 3%;
}