@charset "ISO-8859-1";

#subdiv{
	display: flex;
	background: white;
	margin: 0 5%;
	margin-top: 20%;
	border-radius: 5px;
}

#main-cover{
	background: url('../images/shop.jpg');
}

#left{
	height: 5vh;
	width: 10vw;	
}
#left img{
	margin-left: -55%;
}

#right{
	width: 50%;
}

#right form input{
	text-align: center;
}

